input[type="text"] {
  height: 20px;
  width: 100px;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}
.container-Formulario {
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
}
